.nav {
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    z-index: 10;
    background-color: var(--universal-black);
    overflow: auto;
    transition: top 0.5s, bottom 0.5s;
}

.nav_active {
    top: 0;
    bottom: clamp(70px, 37%, 100vh);
}

.nav__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.nav__link[aria-current="page"] {
    color: var(--yellow-background);
}

.nav__button {
    padding: 15px 40px;
    color: var(--universal-black);
    background-color: #fff;
    font-family: Sen;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}


@media(min-width:1200px) {
    .nav {
        position: static;
        background-color: transparent;
        overflow: visible;
    }

    .nav__list {
        flex-direction: row;
    }
}