:root {
    --universal-black: #232536;
    --yellow-background: #ffd050;
    --Light-grey-item: #F4F4F4;
    --Purple-subtitle: #592EA9;
    --Lavender-background: #F4F0F8;
    --Medium-grey-text: #6D6E76;
}